body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/watermelon.png);
  background-size: 100% auto;
}

.card-layout {
  margin: 15% auto;
  width: 60%;
}

.card-title {
  width: 100%;
}

.title {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 2em;
}

.water {
  color: #129bdf;
  font-weight: bolder;
}

.melon {
  color: #c27878;
  font-style: oblique;
}

.card-subtitle {
  width: 25%;
  margin: 0 auto;
  text-align: center;
  font-weight: bolder;
  margin-top: 5%;
}

#button {
  width: 100%;
  margin: 1% 0;
}
